@import url("root.css");

/* ── Main ───────────────────────────── */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--space-20);
  gap: var(--space-20);
}

main .tasks {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  gap: 8rem;
  width: 50rem;
  align-items: center;
  padding: var(--space-8);
}

main .tasks .task {
  display: flex;
}
